In [1]:
import requests
from lxml import html
import pandas as pd

In [2]:
company = pd.read_csv('FTSE_250.csv')
company_list = company.Epic

In [3]:
company.head()

  Epic       Company_Name
0  3IN  3i Infrastructure
1  888       888 Holdings
2  ACA      Acacia Mining
3  AGK            Aggreko
4  AGR       Assura Group

In [4]:
def search(xpath,url):
    # find the useful company information from website
    r = requests.get(url).content 
    sel = html.fromstring(r)
    return sel.xpath(xpath)

In [5]:
def get_company_inf():
    company_profile=[]
    for epic in company_list:
        url = 'https://markets.ft.com/data/equities/tearsheet/profile?s='+ epic + ':LSE'
        company_epic = epic 
        company_inf_1 = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/p/text()',url)
        company_inf_2 = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/p/span/span/text()',url)
        company_revenue = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/ul[1]/li[1]/span[2]/span/text()',url)
        company_date = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/ul[1]/li[3]/span[2]/text()',url)
        company_employees = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/ul[1]/li[4]/span[2]/text()',url)
        company_location = search('/html/body/div[3]/div[2]/section[3]/div[1]/div/div/ul[2]/li[1]/span[2]/address/span[4]/text()',url)
        company_inf = company_inf_1[0] + company_inf_2[0]
        company = {  'Epic':company_epic,
                     'About_the_company':company_inf,
                     'Revenue':company_revenue[0],
                     'Incorporated':company_date[0],
                     'Employees':company_employees[0],
                     'Country':company_location[0]
                   }
        company_profile.append(company) 
    return company_profile

In [6]:
company_profile = get_company_inf()
cols = ['Epic','Incorporated','Country','Employees','Revenue','About_the_company']
company_profile = pd.DataFrame(company_profile).loc[:,cols]
company_profile

IndexError: list index out of range